<div class="register-container">
  <p>login works!</p>

  <form></form>

  <form [formGroup]="profileForm">
    <label for="email">Email :</label>
    <input id="email" formControlName="email" [attr.aria-invalid]="profileForm.controls.email.invalid">
    @if (profileForm.controls.email.invalid && profileForm.controls.email.touched) {
      <p class="error">Le mail doit être valide</p>
    }
  </form>

  <form [formGroup]="profileForm">
    <label for="password">Password :</label>
    <input type="password" id="password" formControlName="password" [attr.aria-invalid]="profileForm.controls.password.invalid">
    @if (profileForm.controls.password.invalid && profileForm.controls.password.touched) {
      <p class="error">Le password doit avoir au moins 6 caractères</p>
    }
  </form>

  <div class="submit-container">
    <button type="submit" [disabled]="profileForm.invalid">Envoyer</button>
  </div>


</div>
