.cart-item {
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  box-shadow: 1px 1px 14px 2px #0000001f;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  width: 100%;
  border-radius: 6px;
}

button {
}
