.product-list {
  margin: 10px auto;
  width: 80%;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .row {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .counters {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 50%;
  }

  .counter {
    width: 50%;
  }

  .filter-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
  }
}

.list {
  padding: 1rem;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.stats {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
  border-top: 1px solid #eee;
  font-size: 1rem;
  color: #444;
}
