.cart-summary {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  min-height: 100%;
}

.cart-summary-page {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  min-height: 74.1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 1rem;
}

.row {
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.row.between {
  justify-content: space-between;
}

hr {
  border: 1px solid #333333;
  width: 100%;
  height: 1px;
  background: #ddd;
  border-radius: 10px;
  margin: 1rem 0;
}

p {
  display: flex;
  justify-content: space-between;
}

.total {
  font-size: 1.3rem;
}

button {
  margin: 1rem 0;
  width: 100%;

  &.del:hover {
    background: #ff0015;
    color: #fff;
  }
}

.cart-summary-page button {
  margin: 1rem 0;
  width: 20%;
}
